In [15]:
import numpy as np

In [16]:
import pandas as pd

In [17]:
df=pd.read_csv(r"C:\Users\DELL\OneDrive\Documents\forex_data_2020-2025.csv")

In [18]:
df.head()

         Date     Close      High       Low      Open currency_pair
0  01-01-2020  1.122083  1.122838  1.115947  1.122083       EUR/USD
1  01-02-2020  1.122083  1.122712  1.116682  1.121894       EUR/USD
2  01-03-2020  1.117144  1.118068  1.112570  1.117081       EUR/USD
3  01-06-2020  1.116196  1.120825  1.115810  1.116246       EUR/USD
4  01-07-2020  1.119799  1.119946  1.113487  1.119583       EUR/USD

In [19]:
df.tail()

           Date       Close        High         Low        Open currency_pair
4468  9/16/2025  147.404999  147.537003  146.507004  147.404999       USD/JPY
4469  9/17/2025  146.412994  146.681000  146.216995  146.412994       USD/JPY
4470  9/18/2025  146.891007  148.257004  146.865005  146.891007       USD/JPY
4471  9/19/2025  147.947006  148.248001  147.210007  147.947006       USD/JPY
4472  9/22/2025  148.095001  148.369995  147.736999  148.095001       USD/JPY

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4473 entries, 0 to 4472
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           4473 non-null   object
 1   Close          4473 non-null   float64
 2   High           4473 non-null   float64
 3   Low            4473 non-null   float64
 4   Open           4473 non-null   float64
 5   currency_pair  4473 non-null   object
dtypes: float64(4), object(2)
memory usage: 209.8+ KB

In [21]:
df.describe()

             Close         High          Low         Open
count  4473.000000  4473.000000  4473.000000  4473.000000
mean     44.300365    44.462673    44.128401    44.300301
std      61.893630    62.126464    61.644207    61.893521
min       0.959619     0.967006     0.954016     0.959619
25%       1.150616     1.156470     1.145554     1.150351
50%       1.280213     1.284604     1.275608     1.280229
75%     109.830002   110.071999   109.627998   109.830002
max     161.621002   161.942001   161.300003   161.621002

In [22]:
df.shape

(4473, 6)

In [23]:

df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'currency_pair'], dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=4473, step=1)

In [25]:
df.dtypes

Date              object
Close            float64
High             float64
Low              float64
Open             float64
currency_pair     object
dtype: object

In [26]:
df.memory_usage()

Index              132
Date             35784
Close            35784
High             35784
Low              35784
Open             35784
currency_pair    35784
dtype: int64

In [27]:
df.sort_values()

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [50]:
df.sort_index()

            Date       Close        High         Low        Open currency_pair
0     01-01-2020    1.122083    1.122838    1.115947    1.122083       EUR/USD
1     01-02-2020    1.122083    1.122712    1.116682    1.121894       EUR/USD
2     01-03-2020    1.117144    1.118068    1.112570    1.117081       EUR/USD
3     01-06-2020    1.116196    1.120825    1.115810    1.116246       EUR/USD
4     01-07-2020    1.119799    1.119946    1.113487    1.119583       EUR/USD
...          ...         ...         ...         ...         ...           ...
4468   9/16/2025  147.404999  147.537003  146.507004  147.404999       USD/JPY
4469   9/17/2025  146.412994  146.681000  146.216995  146.412994       USD/JPY
4470   9/18/2025  146.891007  148.257004  146.865005  146.891007       USD/JPY
4471   9/19/2025  147.947006  148.248001  147.210007  147.947006       USD/JPY
4472   9/22/2025  148.095001  148.369995  147.736999  148.095001       USD/JPY

[4473 rows x 6 columns]

In [29]:
df.rank()

        Date   Close    High     Low    Open  currency_pair
0        2.0   939.5   923.0   935.0   940.5          746.0
1       11.0   939.5   921.0   939.0   939.0          746.0
2       23.0   917.0   897.5   918.0   916.5          746.0
3       62.0   909.5   913.0   934.0   911.0          746.0
4       77.0   932.0   908.0   925.0   932.0          746.0
...      ...     ...     ...     ...     ...            ...
4468  4310.0  4106.0  4067.5  4084.0  4106.0         3728.0
4469  4322.0  4050.0  4035.0  4066.0  4050.0         3728.0
4470  4334.0  4071.0  4129.0  4108.0  4071.0         3728.0
4471  4346.0  4142.0  4128.0  4138.0  4142.0         3728.0
4472  4385.0  4151.0  4139.0  4172.0  4151.0         3728.0

[4473 rows x 6 columns]

In [30]:
df.nlargest()

TypeError: DataFrame.nlargest() missing 2 required positional arguments: 'n' and 'columns'

In [31]:
df.query()

TypeError: DataFrame.query() missing 1 required positional argument: 'expr'

In [32]:

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [33]:
pd.Series()

Series([], dtype: object)

In [34]:
pd.concat()

TypeError: concat() missing 1 required positional argument: 'objs'

In [35]:
df['High']

0         1.122838
1         1.122712
2         1.118068
3         1.120825
4         1.119946
           ...
4468    147.537003
4469    146.681000
4470    148.257004
4471    148.248001
4472    148.369995
Name: High, Length: 4473, dtype: float64

In [36]:
df[['High','Low']]

            High         Low
0       1.122838    1.115947
1       1.122712    1.116682
2       1.118068    1.112570
3       1.120825    1.115810
4       1.119946    1.113487
...          ...         ...
4468  147.537003  146.507004
4469  146.681000  146.216995
4470  148.257004  146.865005
4471  148.248001  147.210007
4472  148.369995  147.736999

[4473 rows x 2 columns]

In [37]:
df.loc[1]

Date             01-02-2020
Close              1.122083
High               1.122712
Low                1.116682
Open               1.121894
currency_pair       EUR/USD
Name: 1, dtype: object

In [38]:
df.iloc[2, 1]

1.11714375

In [39]:
df.at[1, 'Open']

1.121893764

In [40]:
df.iat[1, 2]

1.122712493

In [44]:
df['High'] > 1000

0       False
1       False
2       False
3       False
4       False
        ...
4468    False
4469    False
4470    False
4471    False
4472    False
Name: High, Length: 4473, dtype: bool

In [48]:
df.query("High > 2000 and Low > 1000")

Empty DataFrame
Columns: [Date, Close, High, Low, Open, currency_pair]
Index: []

In [51]:
df.where(df['High'] > 1.119946, "day high")

            Date       Close        High         Low        Open currency_pair
0     01-01-2020    1.122083    1.122838    1.115947    1.122083       EUR/USD
1     01-02-2020    1.122083    1.122712    1.116682    1.121894       EUR/USD
2       day high    day high    day high    day high    day high      day high
3     01-06-2020    1.116196    1.120825     1.11581    1.116246       EUR/USD
4     01-07-2020    1.119799    1.119946    1.113487    1.119583       EUR/USD
...          ...         ...         ...         ...         ...           ...
4468   9/16/2025  147.404999  147.537003  146.507004  147.404999       USD/JPY
4469   9/17/2025  146.412994     146.681  146.216995  146.412994       USD/JPY
4470   9/18/2025  146.891007  148.257004  146.865005  146.891007       USD/JPY
4471   9/19/2025  147.947006  148.248001  147.210007  147.947006       USD/JPY
4472   9/22/2025  148.095001  148.369995  147.736999  148.095001       USD/JPY

[4473 rows x 6 columns]

In [52]:
df.rename(columns={"High": "high"})

            Date       Close        high         Low        Open currency_pair
0     01-01-2020    1.122083    1.122838    1.115947    1.122083       EUR/USD
1     01-02-2020    1.122083    1.122712    1.116682    1.121894       EUR/USD
2     01-03-2020    1.117144    1.118068    1.112570    1.117081       EUR/USD
3     01-06-2020    1.116196    1.120825    1.115810    1.116246       EUR/USD
4     01-07-2020    1.119799    1.119946    1.113487    1.119583       EUR/USD
...          ...         ...         ...         ...         ...           ...
4468   9/16/2025  147.404999  147.537003  146.507004  147.404999       USD/JPY
4469   9/17/2025  146.412994  146.681000  146.216995  146.412994       USD/JPY
4470   9/18/2025  146.891007  148.257004  146.865005  146.891007       USD/JPY
4471   9/19/2025  147.947006  148.248001  147.210007  147.947006       USD/JPY
4472   9/22/2025  148.095001  148.369995  147.736999  148.095001       USD/JPY

[4473 rows x 6 columns]

In [53]:
df.drop(1)

            Date       Close        High         Low        Open currency_pair
0     01-01-2020    1.122083    1.122838    1.115947    1.122083       EUR/USD
2     01-03-2020    1.117144    1.118068    1.112570    1.117081       EUR/USD
3     01-06-2020    1.116196    1.120825    1.115810    1.116246       EUR/USD
4     01-07-2020    1.119799    1.119946    1.113487    1.119583       EUR/USD
5     01-08-2020    1.115474    1.116520    1.111086    1.115573       EUR/USD
...          ...         ...         ...         ...         ...           ...
4468   9/16/2025  147.404999  147.537003  146.507004  147.404999       USD/JPY
4469   9/17/2025  146.412994  146.681000  146.216995  146.412994       USD/JPY
4470   9/18/2025  146.891007  148.257004  146.865005  146.891007       USD/JPY
4471   9/19/2025  147.947006  148.248001  147.210007  147.947006       USD/JPY
4472   9/22/2025  148.095001  148.369995  147.736999  148.095001       USD/JPY

[4472 rows x 6 columns]

In [54]:
df.duplicated(subset=['currency_pair'])

0       False
1        True
2        True
3        True
4        True
        ...
4468     True
4469     True
4470     True
4471     True
4472     True
Length: 4473, dtype: bool

In [ ]:
df.plot.bar()

In [ ]:
df['high'].plot.bar()